
@model dynamic
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Kalkulator</h2>
            /*
            zmiana metody z get na post dane formularza poufne
            */
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="x">Liczba 1</label>
                    <input class="form-control" type="number" name="x" step="0.00001" id="x"/>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="Operator">Operator</label>
                    <select class="form-control" name="Operator" id="operator" required>
                        <option value="add">Dodaj (+)</option>
                        <option value="sub">Odejmij (-)</option>
                        <option value="mul">Pomnóż (*)</option>
                        <option value="div">Podziel (/)</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="y">Liczba 2</label>
                    <input class="form-control" type="number" name="y" step="0.00001" id="y"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>

